@model Binance.Net.Interfaces.IBinanceStreamKlineData

@{
    ViewData["Title"] = "Test";
}

<div class="text-center">
    
    <div>
        <br />
        The last price of the BTCUSDT symbol is @(Model?.Data.Close.ToString() ?? "not known yet")
        <br />
        (refresh the page to get the latest price)
    </div>
</div>
