/*============================
		COLOR Indigo
==============================*/
::selection {
  background: #6610f2;
}

a, a:focus {
  color: #6610f2;
}

a:hover, a:active {
  color: #570bd3;
}

.primary-menu ul.navbar-nav > li:hover > a:not(.btn), .primary-menu ul.navbar-nav > li > a.active:not(.btn) {
  color: #6610f2;
}
.primary-menu ul.navbar-nav > li.dropdown .dropdown-menu li:hover > a:not(.btn) {
  color: #6610f2;
}
.primary-menu.navbar-line-under-text ul.navbar-nav > li > a:not(.btn):after {
  border-color: #6610f2;
}

/*=== Side Navigation ===*/
.idocs-navigation .nav .nav .nav-item .nav-link.active:after, .idocs-navigation.docs-navigation-dark .nav .nav .nav-item .nav-link.active:after {
  border-color: #6610f2;
}

/* Accordion & Toggle */
.accordion .card-header a:hover.collapsed {
  color: #6610f2 !important;
}
.accordion:not(.accordion-alternate) .card-header a {
  background-color: #6610f2;
  color: #fff;
}

/* Nav */
.nav:not(.nav-pills) .nav-item .nav-link.active, .nav:not(.nav-pills) .nav-item .nav-link:hover {
  color: #6610f2;
}

.nav-tabs .nav-item .nav-link.active {
  color: #0c2f55;
}
.nav-tabs .nav-item .nav-link.active:after {
  background-color: #6610f2;
}
.nav-tabs .nav-item .nav-link:not(.active):hover {
  color: #6610f2;
}
.nav-tabs.flex-column .nav-item .nav-link.active {
  color: #6610f2;
}

.nav-pills .nav-link:not(.active):hover {
  color: #6610f2;
}

#footer .nav .nav-item .nav-link:focus {
  color: #6610f2;
}
#footer .nav .nav-link:hover {
  color: #6610f2;
}
#footer .footer-copyright .nav .nav-link:hover {
  color: #6610f2;
}

/* Back to Top */
#back-to-top:hover {
  background-color: #6610f2;
}

/* Extras */
.bg-primary, .badge-primary {
  background-color: #6610f2 !important;
}

.text-primary, .btn-light, .btn-outline-light:hover, .btn-link, .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active {
  color: #6610f2 !important;
}

.btn-link:hover {
  color: #570bd3 !important;
}

.text-muted {
  color: #8e9a9d !important;
}

.text-light {
  color: #dee3e4 !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #570bd3 !important;
}

.border-primary {
  border-color: #6610f2 !important;
}

.btn-primary {
  background-color: #6610f2;
  border-color: #6610f2;
}
.btn-primary:hover {
  background-color: #570bd3;
  border-color: #570bd3;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #570bd3;
  border-color: #570bd3;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #570bd3;
  border-color: #570bd3;
}

.btn-outline-primary, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #6610f2;
  border-color: #6610f2;
}
.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active:hover, .btn-outline-primary:not(:disabled):not(.disabled):active:hover {
  background-color: #6610f2;
  border-color: #6610f2;
  color: #fff;
}

.progress-bar,
.nav-pills .nav-link.active, .nav-pills .show > .nav-link, .dropdown-item.active, .dropdown-item:active {
  background-color: #6610f2;
}

.page-item.active .page-link,
.custom-radio .custom-control-input:checked ~ .custom-control-label:before,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before,
.custom-control-input:checked ~ .custom-control-label:before {
  background-color: #6610f2;
  border-color: #6610f2;
}

.list-group-item.active {
  background-color: #6610f2;
  border-color: #6610f2;
}

.page-link {
  color: #6610f2;
}
.page-link:hover {
  color: #570bd3;
}
